<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Programacion Visual-JAVA</title>
<link rel="stylesheet" href="/css/style.css"></link>
</head>
<body>
  <header id="header">
    <h1>Programación Visual en JAVA</h1>
    <nav>
      <ul>
        <li><a href="#seccion1">INICIO</a></li>
        <li><a href="#seccion2">INFORMACION</a></li>
        <li><a href="#seccion3">REDES SOCIALES</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
  
    <section id="seccionIntro">
      <h2>Seccion 1</h2>
      	<h3>Introduccion a PV-JAVA</h3>
      	<p>La programación visual en Java ofrece una forma más intuitiva y eficiente de diseñar y desarrollar aplicaciones, permitiendo a los desarrolladores centrarse en la experiencia del usuario y la lógica de la aplicación sin tener que preocuparse tanto por los detalles de implementación.</p>
      <ol>
        <li>Rapidez en el desarrollo</li>
        <li>Facilidad de uso</li>
        <li>Diseño flexible</li>
        <li>Reutilización de componentes</li>
      </ol>
    </section>
    
    <section id="seccionConcepto">
      <h2>Seccion 2</h2>
      	<h3>Conceptos Basicos</h3>
      	<p>Estos son algunos de los conceptos básicos que se encuentran en la programación visual en Java. Entender estos conceptos ayudará a comenzar a diseñar y desarrollar aplicaciones con interfaces gráficas de usuario utilizando Java y JavaFX.</p>
      <table>
        <tr>
          <th>Interfaz gráfica de usuario (GUI)</th>
          <th>Contenedores y componentes</th>
          <th>Diseño de la interfaz gráfica</th>
          <th>Eventos y acciones del usuario</th>
          <th>FXML y CSS</th>
          <th>Modelo-Vista-Controlador (MVC)</th>
        </tr>
        <tr>
          <td>Utiliza elementos visuales como botones y campos de texto para diseñar la parte de la aplicación que interactúa con el usuario.</td>
          <td>Los contenedores albergan componentes visuales como botones y campos de texto. Los componentes se colocan dentro de los contenedores para construir la interfaz de usuario.</td>
          <td>Organiza los componentes visuales en la ventana de la aplicación de manera intuitiva y fácil de usar para el usuario utilizando disposiciones y restricciones de diseño.</td>
          <td>Responde a acciones del usuario como hacer clic en un botón utilizando manejadores de eventos para realizar acciones específicas.</td>
          <td>FXML define la estructura y el diseño de la interfaz gráfica, mientras que CSS aplica estilos y temas visuales a los componentes.</td>
          <td>Separación de la lógica de presentación (interfaz de usuario) de la lógica de negocio (comportamiento de la aplicación) para facilitar la modularidad y el mantenimiento del código.</td>
        </tr>
      </table>
    </section>
    
    <section id="seccionAp">
      <h2>Seccion 3: Aplicaciones de Programacion Visual en JAVA</h2>
      	<p>La programación visual en Java tiene una amplia gama de aplicaciones que abarcan desde el desarrollo de aplicaciones de escritorio hasta el desarrollo web, móvil y empresarial, proporcionando interfaces de usuario intuitivas y atractivas para una variedad de propósitos y sectores.</p>
      <h3>Subsección 3.1: Desarrollo de aplicaciones de escritorio</h3>
      	<p>La programación visual en Java se utiliza ampliamente para desarrollar aplicaciones de escritorio con interfaces gráficas de usuario (GUI) interactivas y atractivas. Estas aplicaciones van desde herramientas de productividad, sistemas de gestión, aplicaciones educativas hasta juegos.</p>
      <h3>Subsección 3.2: Creación de herramientas de desarrollo</h3>
      	<p>Muchas herramientas de desarrollo en Java, como IDEs (Entornos de Desarrollo Integrados), editores de código y herramientas de diseño, utilizan la programación visual para proporcionar interfaces de usuario intuitivas y fáciles de usar para los desarrolladores.</p>
      <h3>Subsección 3.3: Aplicaciones empresariales</h3>
      	<p>La programación visual en Java se emplea en el desarrollo de aplicaciones empresariales que requieren interfaces de usuario complejas y funcionales, como sistemas de gestión de recursos empresariales (ERP), sistemas de gestión de relaciones con los clientes (CRM) y sistemas de gestión de proyectos.</p>
      <h3>Subsección 3.4: Aplicaciones científicas y técnicas</h3>
      	<p>Java se utiliza en aplicaciones científicas y técnicas donde es necesario representar datos de forma visual, como aplicaciones de análisis de datos, herramientas de simulación, software de visualización y sistemas de control industrial.</p>
      <h3>Subsección 3.5: Juegos y entretenimiento</h3>
      	<p> La programación visual en Java se aplica en el desarrollo de juegos y aplicaciones de entretenimiento, incluidos juegos de escritorio, juegos web y aplicaciones multimedia interactivas.</p>
      <h3>Subsección 3.6: Aplicaciones web y móviles</h3>
      	<p>Aunque Java no es el lenguaje principal para el desarrollo web y móvil, aún se utiliza en el desarrollo de aplicaciones web y móviles donde se requiere una lógica empresarial compleja o una integración con sistemas existentes. En este contexto, la programación visual se puede aplicar a la creación de interfaces de usuario web con JavaServer Faces (JSF) o a través de herramientas de desarrollo móvil como JavaFXPorts.</p>       
    </section>
    
  </main>
  
  <aside>
    <h2>Recursos Adicionales</h2>
    	<p>Puede mas informacion de Programacion Visual en JAVA en el siguiente PDF</p>
    <a href="https://virtual.unju.edu.ar/pluginfile.php/626982/mod_resource/content/2/Programacion%20Java%2001.pdf">
    	<img src="/imagenes/java.png" alt="Imagen de PV-JAVA">
    </a>
  </aside>
  
  <footer>
    <h3>Mas Informacion en Redes Sociales:</h3>
    <ul>
      <li><a href="mailto:correo@example.com">prog_visualJAVA@gmail.com</a></li>
      <li><a href="https://www.facebook.com">Instagram</a></li>
      <li><a href="https://www.twitter.com">Twitter</a></li>
    </ul>
  </footer>	
</body>
</html>
